# Зависимости
node_modules/
dist/
build/

# Локальные файлы окружения
.env
.env.local

# Логи
*.log
npm-debug.log*

# Настройки редакторов (если нужны только тебе)
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db
